*
{
	margin:0px;
	padding:1.15px;
	box-sizing: border-box;

}
body
{
	background-image: url("");

}
body::-webkit-scrollbar{
	width: 0 ;
	height: 0;
	overflow-x:hidden;
	overflow-y:hidden;
}

/*=======================================
       Navigation Properties start
==========================================*/

.navbar
{
	padding: 12px 0px;
	 
	background-color:  #111e2d !important;
	
	border-bottom: none !important;
	transition: all 0.5s ease-in-out; 
	

}
ul li a
{
	color: white !important;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.5s ease-in;
}

ul li a:hover
{
	color: deepskyblue !important;
	font-size: 14px ;
}
.navbar-toggle
{
	border:1px solid white !important;
	transition: all 0.5s ease-in;
}
.navbar-toggle:hover
{
	background-color:deepskyblue !important;
}

#our-location
{
	border: 1px solid white ;
	border-radius: 45px;
	padding: 12px 12px 12px 12px;
	
	background: deepskyblue !important;

}
#our-location:hover
{
	background-color: white !important;
	
}


/*=======================================
       Navigation Properties ends
==========================================*/




.navbar
{
	width: 100%;
	height: 60px;
	background: #111e2d;
	border-radius:0px 0px 0px 0px; 
	position: fixed;
	box-sizing: border-box;
}
#bar
{
	color: white;
	padding-left: 50px;
	margin:8px;
}



/*=======================================
       Side bar Properties start
==========================================*/



.sidemenu 
{
	height: 100%;
	/*background: rgba(26,39,38,0.8);*/
	background-color: #111e2d;
	width: 0px;
	position: fixed;
	top:80px;
	left:0;
	
	transition: all 0.6s;
	scroll-padding: 5px;
	
}



.sidemenu ul li a
{
	
	
	text-decoration: none;
	list-style: none;
	margin:20px;
	text-align: center;
	font-weight: 200;
	font-size: 15px;
	
	


}
.sidemenu ul li 
{
	padding:10px;
	width: 	200px;
	border-bottom: 2px solid grey;
	transition: all 0.6s;
	cursor: pointer;
	
}

.sidemenu ul li:hover
{
	background-color:deepskyblue;
	
}

.sidemenulist{
	overflow-y: visible;
}


.crossbutton
{
	position:absolute;	
	left: 150px;
	bottom: 550px;
}



/*=======================================
       Side bar Properties ends
==========================================*/


/*=======================================
      java main content properties starts
==========================================*/


.title-image
{
	margin-top: -200px;
	margin-left: -2px !important;
}


#mainpagecontent
{
	position:absolute;
	height: 650px;
	top: 8px;
	border: 3px solid black;
	width: 610px;
	margin-left: 276px !important;
	background-color: rgba(12, 103, 248, 0.9);
	width : 700px;
	


}


#mainpagecontent .content
{
	margin-left: 60px !important;
	font-size: 17px;
	margin-left: 250px;
	padding-right: 80px;
	color: black;
	letter-spacing: 0.5px;
	

}
/* #mainpagecontent2
{
    position: fixed;
	height: 1540px;
	margin-top: 78px;
	overflow-y: hidden;
	width: 710px;
	margin-left: 1000px !important;
	background-color: null;
	overflow-x: hidden;
	box-shadow:#34495e;
} */

/* #mainpagecontent3
{
    position:fixed;
	height: 550px;
	top: 80px;
	border: 3px solid black;
	width: 610px;
	margin-left: 990px !important;
	background-color: rgba(12, 103, 248, 0.9);
	width : 700px;
	
} */
.notepad
{
  margin-left: 990px;
  border : 2px solid black;
  top: 45px;
  height: 550px;
  width: 705px;
  margin-top: 45px;
  position: fixed;

}

/* #mainpagecontent3 .notepad
{	position:fixed;
	margin-left:none !important;
	height:500px;
	width:610px;	
	padding-right: 80px;
	color: black;
	

} */

#notes
{
	/* margin-left: 990px;
  border : 2px solid black;
  top: 45px;
  height: 600px;
  width: 740px;
  margin-top: 45px;
  position: fixed; */

	position:fixed;
	margin-left:none !important;

	top: 91.5px;
	height:545px;
	width:700px;	
	/* padding-right: 70px; */
	color: black;
	
	

}
.sub3{
	margin-top: -54px;
}

#myframe
{
	border: 3px solid whitesmoke;
	overflow: hidden;
}




#sidebarleftmenu
{
	width: 250px;
	
}
#btn_next
{
	margin-left: 490px;
	width:120px !important;
	height: 32px !important;
	margin-top: 40px;
	color:white;
	background-color: orangered;
	border:1px solid white !important;
}

.box{
        width: 100%;
        height: 100%;            
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;  /* for demo purpose  */
    }
/*=======================================
      java main content properties ends
==========================================*/